/* | animação do conteudo da home | */
@keyframes slideDown{
	from{
		opacity: 0;
		transform: translateY(-50px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
.container {
	animation: slideDown 1s forwards;
}
.container .img {
	animation: slideDown 3s forwards;
}
.redes-sociais {
	animation: slideDown 4s forwards;
}

/* | animação do Menu mobile | */
@media (max-width: 720px) {
	@keyframes slideLeft {
		from{
			opacity: 0;
			transform: translateX(30px);
		}
		to{
			opacity: 1;
			transform: translateX(0);
		}
	}
	.menu.abrir {
		display: flex;
		animation: slideLeft .5s forwards;
	}

	@keyframes slideRight {
		from{
			transform: translateX(0);
		}
		to{
			transform: translateX(150px);
		}
	}
	.menu.fechar {
		background-color: red;
		animation: slideRight 1s forwards;
	}
	
	@keyframes slideRotate {
		from{
			transform: rotate(0);
		}
		to{
			transform: rotate(-90deg);
		}
	}
	.btn-menu.ativo{
		animation: slideRotate .5s forwards;
	}
}




[data-anime="right"]{
	opacity: 0;
	transition: 2s;
	transform: translateX(-50px);
}
[data-anime="right"].ativo{
	opacity: 1;
	transform: translateX(0);
}
