/****| RESET |****/
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 100%;
	box-sizing: border-box;
}

body {
	color: #124;
	font-family: monospace;
}

a {
	color: #000;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	width: 100%;
}

/****| HEADER |****/
.header {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 20px 0;
	position: fixed;
	background-color: #fff;
	border-bottom: 1px solid #0000001a;
}

.conteudo {
	display: flex;
	margin: 0 auto;
	padding: 0 20px;
	flex-wrap: wrap;
	max-width: 1000px;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: #4070f4;
	font-size: 2.5em;
	font-weight: bold;
}

.btn-menu {
	display: none;
	font-size: 2em;
	cursor: pointer;
	font-weight: bolder;
}

/* menu */
.menu {
	display: flex;
}

.menu li {
	margin: 0 10px;
}

.menu li a {
	padding: 5px 0;
	font-size: 1.5em;
	font-weight: bold;
	transition: all .3s;
}

.menu li a:hover {
	color: #4070f4;
	border-bottom: 2px solid #4070f4;
}

.menu li a.underline {
	color: #4070f4;
	border-bottom: 2px solid #4070f4;
}

/*************************************/
/* | CONTAINER | */
/*************************************/
.container {
	height: 100vh;
	display: flex;
	padding: 20px;
	margin: 3vh auto;
	flex-wrap: wrap;
	max-width: 1000px;
	align-items: flex-end;
	justify-content: space-between;
}

.titulo-principal h1 {
	font-size: 4.3em;
}

.titulo-principal span {
	color: #4070f4;
}

.btn {
	color: #fff;
	margin: 20px 0;
	cursor: pointer;
	font-size: 1.2em;
	border-radius: 4px;
	padding: 10px 30px;
	transition: all 1s;
	border: 1px solid #fff;
	background-color: #4070f4;
}

.btn:hover {
	color: #4070f4;
	background-color: #fff;
	border: 1px solid #4070f4;
}

/***/
.container .img {
	width: 350px;
	margin-top: 5vh;
}


/*************************************/
/* | redes-sociais | */
/*************************************/
.redes-sociais {
	width: 100%;
	display: flex;
	padding: 10px 0;
}

.redes-sociais li {
	margin-right: 10px;
}

.redes-sociais img {
	width: 35px;
	padding: 2px;
	border-radius: 50%;
	transition: all .5s;
	background-size: auto;
	border: 1px solid #000;
}

.redes-sociais img:hover {
	transform: translateY(-5px);
	background-color: #4070f4;
}


/***| HABILIDADES  |***/
.habilidades {
	height: 90vh;
	display: grid;
	margin: 0 auto;
	flex-wrap: wrap;
	max-width: 1000px;
	padding: 40px 15px;
	grid-template-areas:
		'titulo titulo'
		'descricao trabalho'
	;
	align-items: flex-start;
	justify-content: flex-start;
}

.habilidades .titulo {
	padding: 5px;
	font-size: 2em;
	grid-area: titulo;
	text-align: center;
	margin-bottom: 20px;
}

.habilidades .titulo h2 {
	padding: 5px;
	color: #4070f4;
	display: inline;
	border-bottom: 2px solid #4070f4;
}

.habilidades .descricao {
	display: flex;
	padding: 0 10px;
	grid-area: descricao;
	flex-direction: column;
}

.habilidades .descricao h3 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

.habilidades .descricao p {
	font-size: 1.2em;
	line-height: 20px;
}

.habilidades .descricao .imgs {
	display: flex;
	padding: 20px;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.descricao img {
	width: 50px;
	margin: 25px;
}

.habilidades .trabalho {
	margin: 30px 0;
	grid-area: trabalho;
	border-radius: 7px;
}