/****| RESET |****/
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 100%;
	box-sizing: border-box;
}
body {
	color: #124;
	font-family: monospace;
}
a {
	color: #000;
	text-decoration: none;
}
ul, li {
	list-style: none;
}

/****| HEADER |****/
.header {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 20px 0;	
	position: fixed;	
	background-color: #fff;	
	border-bottom: 1px solid #191c03;
}
.conteudo {
	display: flex;
	margin: 0 auto;
	padding: 0 20px;
	flex-wrap: wrap;
	max-width: 1000px;
	align-items: center;
	justify-content: space-between;
}
.logo {
	font-size: 2.5em;
	font-weight: bold;
}

.btn-menu {
	display: none;
	font-size: 2em;
	cursor: pointer;
	font-weight: bolder;
}

/* menu */
.menu {
	display: flex;
}
.menu li{ 
	margin: 0 10px;
}

.menu li a {
	padding: 5px 0;
	font-size: 1.5em;
	font-weight: bold;
	transition: all .3s;
}

.menu li a:hover{
	color: #4070f4;
	border-bottom: 2px solid #4070f4;
}

/* | CONTAINER | */
.container {
	height: 100vh;
	display: flex;
	padding: 20px;
	margin: 0 auto;
	flex-wrap: wrap;
	max-width: 1000px;
	align-items: flex-end;
	justify-content: space-between;
}

.titulo-principal h1 {
	font-size: 4em;
}
.titulo-principal span {
	color: #4070f4;
}
.btn {
	color: #fff;
	margin: 20px 0;
	cursor: pointer;
	font-size: 1.2em;
	border-radius: 4px;
	padding: 10px 30px;
	transition: all 1s;
	border: 1px solid #fff;
	background-color: #4070f4;
}
.btn:hover{
	color: #4070f4;
	background-color: #fff;
	border: 1px solid #4070f4;
}

.redes-sociais {
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.redes-sociais li {
	margin-right: 10px;
}
.redes-sociais a {
	font-size: 1.5em;;
}
.redes-sociais a:hover{
	color: #4070f4;
}