@media (max-width: 720px){
	.header {
		padding: 20px;
	}
	.header .logo {
			font-size: 3.5em;
	}
	.btn-menu {
		display: block;
	}
	.menu {
		right: 0;
		top: 94px;
		width: 80%;
		height: 100vh;
		display: flex;
		display: none;
		padding-top: 50px;
		position: absolute;
		flex-direction: column;
		background-color: #a0b8fa;
	}
	.menu.ativo{
		display: block;
	}

	.menu li {
		width: 100%;
		display: block;
		text-align: left;
	}
	.menu li a {
		display: block;
		font-size: 1.5em;
		padding: 15px 10px;
	}
	.container {
		grid-gap: 10px;
		flex-wrap: nowrap;
		align-items: center;
		flex-direction: column;
		justify-content: flex-end;
	}
	.img {
		display: flex;
		justify-content: center;
	}
	.titulo-principal h1{
		font-size: 2.3rem;
	}
	.titulo-principal {
		align-items: flex-end;
	}
	.btn {
		margin: 10px 0;
		font-size: 1em;
		padding: 10px 25px;
	}
	.container img {
		width: 80%;
	}
	.redes-sociais {
		justify-content: center;
	}
}