*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 100%;
	box-sizing: border-box;
	font-family: sans-serif;
}
ul{
	list-style: none;
}
a{text-decoration: none;}
img{max-width: 100%;}


/********************************************/
/******| HEADER  |******/
/********************************************/
.header{
	top: 0;
	left: 0;
	width: 100%;
	padding: 50px;
	display: flex;
	margin: 0 auto;
	position: absolute;
	align-items: center;
	justify-content: space-between;
}
#check,.checkbtn{
	display: none;
}
.logo{
	color:#00bcd4;
	font-size: 2em;
	font-weight: bold;
	transition: color, text-shadow .5s;
}
.checkbtn:hover , .logo:hover{
	color: #d5d5d5;
	text-shadow: 2px 1px #00BCD4;
}

/********************************************/
/********| MENU |*******/
/********************************************/
.menu ul{
	display: flex;
}
.menu li{
	margin: 0 20px;
}
.menu li:first-child{
	margin-left: 0px;
}
.menu li:last-child{
	margin-right: 0px;
}
.menu ul a{
	color: #000;
	transition: all .2s;
}
.menu ul a:hover{
	color: #00bcd4;
}

/********************************************/
/******| HERO |******/
/********************************************/
.hero{
	width: 100%;
	height: 100vh;
	display: flex;
	padding: 50px;
	align-items: center;
	background-size: cover;
	background-image: url(../img/bg.jpg);
}
.title{
	flex: 1.2;
	text-align: left;
	animation: slide-right 2s;
}
.title h1{
	font-size: 4.2em;
}
.title p{
	line-height: 2em;
}
.btn{
	color: #fff;
	cursor: pointer;
	margin: 10px auto; 
	padding: 15px 30px;
	border-radius: 4px;
	transition: all 1s;
	border: 1px solid #000;
	background: linear-gradient(to right,#00BCD4,#03A9F4);
}
.btn:hover{
	color: #00BCD4;
	background: #fff;
	border: 1px solid #00BCD4;
}
.imgs{
	flex: 2;
	text-align: right;
	animation: slide-left 2s;

}
.imgs img{
	width: 75%;
}

/********************************************/
/******| SERVICOS |******/
/********************************************/
.servicos{
	display: flex;
	padding: 50px;
	text-align: center;
	align-items: center;
	flex-direction: column;
	background-color: #d2f3f7;
}
.servicos h1{
	font-size: 2em;
	text-align: center;
}
.container{
	display: flex;
	padding: 30px 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.item{
	width: 25%;
	padding: 10px;
	margin: 0 10px;
	transition: all 1s;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid transparent;
}
.item:hover{
	background-color: #b9f7ff;
	border: 1px solid #00BCD4;
}
.item img{
	width: 200px;
	margin: 10px;
}
.item h1{
	margin: 10px;
	color: #00BCD4;
	font-size: 1.5em;
}
.item p{
	margin: 10px;
	max-width: 300px;
}

/********************************************/
/******| ANIMATIONS |******/
/********************************************/
@keyframes slide-right {
	0% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX( 50px);
    }
    100% {
        transform: translateX( 0px);
    }
}
@keyframes slide-left {
	0% {
        transform: translateX(50px);
    }
   	50% {
        transform: translateX( -50px);
    }
    100% {
        transform: translateX( 0px);
    }
}
@keyframes slide-up-mobile {
	0% {
        transform: translateY(-10px);
    }
    25% {
        transform: translateY( 10px);
    }
    50% {
        transform: translateY( -10px);
    }
    75% {
        transform: translateY( 10px);
    }
    100% {
        transform: translateY( 0px);
    }
}
@keyframes slide-left-mobile {
	0% {
        transform: translateX(20px);
    }
   	50% {
        transform: translateX( -20px);
    }
    100% {
        transform: translateX( 0px);
    }
}

/********************************************/
/******| #MEDIA QUERY MOBILE VERSION |******/
/********************************************/
@media (max-width: 700px){
	.header{
		padding: 10px;
		background-color: #fff;
		border-bottom: 1px solid #00bcd4;
	}
	.menu{
		top: 0;
		width: 300px;
		left: -300px;
		position: absolute;
		transition: all 0.5s;
	}
	.checkbtn{
		color: #00bcd4;
		font-size: 2em;
		display: block;
		cursor: pointer;
		transition: all 0.5s;
	}
	#check:checked ~ .menu{
		transform: translateX( 300px);
	}
	.menu ul{
		width: 300px;
		height: 100vh;
		padding: 0 1px;
		text-align: center;
		flex-direction: column;
		background: linear-gradient(to right,#00BCD4,#03A9F4);
	}
	.menu li{
		margin: 0;
	}
	.menu li a{
		width: 100%;
		margin: 5px 0;
		padding: 15px;
		color: #67d7e6;
		font-size: 1.5em;
		display: inline-block;
		border: 1px solid transparent;
	}
	.menu li a:hover{
		color: #00707e;
	}

	/*HERO*/
	.hero{
		height: 100vh;
		background: #fff;
		padding: 10px 20px;
		margin-bottom: 10px;
		flex-direction: column-reverse;

	}
	.title{
		text-align: left;
		animation: slide-left-mobile 2s;
	}
	.title h1{
		font-size: 2rem;
	}
	.title p{
		line-height: 1em;
		font-size: 1rem;
	}
	.btn{
		color: #fff;
		cursor: pointer;
		margin: 10px auto; 
		padding: 10px 15px;
		border-radius: 4px;
		transition: all 1s;
		border: 1px solid #000;
		background: linear-gradient(to right,#00BCD4,#03A9F4);
	}
	.btn:hover{
		color: #00BCD4;
		background: #fff;
		border: 1px solid #00BCD4;
	}
	.imgs{
		padding-top: 100px;
		text-align: center;
		animation: slide-up-mobile 2s;

	}
	.imgs img{
		width: 400px;
	}
	.servicos{
		padding: 50px 20px;
	}
	.container{
		padding: 0px;
		text-align: center;
		flex-direction: column;
	}
	.item{
		width: 100%;
		margin: 10px 0;
	}

}